@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* "@hookform/resolvers": "^14.2.3", */
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    /* --background-start-rgb: 0, 0, 0; */
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  /* font-family: sans-serif; */
  background-color: #0b0b0b;
}

#custom-checkbox:checked + label {
  background-color: #f51101; /* Change this to your desired checked color */
}

#custom-checkbox:checked + label svg {
  display: block;
}
.link {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  color: var(--color-text);
  font-family: sans-serif;
}

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
  background-color: #ffffff81;
}

.link::before {
  content: '';
  /* show by default */
}

.link--metis {
  font-family: bely-display, sans-serif;
}

.link--metis::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

.link--metis:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.roboto {
  font-family: var(--font-roboto);
}

.poppins {
  font-family: var(--font-poppins);
}
.dot {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.white-blur-btn {
  background-color: #ffffff31;
  backdrop-filter: blur(5px);
}
.appear.in-view {
  animation: fadeAnimation;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
}
.container--bordered {
  border-color: #ffffff00;
  transition-duration: 1s;
  transition-delay: 1s;
}
.container--bordered.in-view {
  border-color: #1f1f1f;
  transition-duration: 1s;
}
.nav-item {
  opacity: 0;
  transition-duration: 500ms;
}
.nav-item.in-view {
  opacity: 1;
}
.welcome-text-container {
  font-weight: bold;
  backdrop-filter: blur(5px);
  /* text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1); */
}
.welcome-text {
  font-weight: bold;
  background: linear-gradient(to right, #ffffff, #e49898);
  -webkit-background-clip: text;
  background-clip: text; /* For non-webkit browsers */
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; /* For non-webkit browsers */
}
.welcome-text::before {
  content: 'We Re-imagine'; /* Duplicate the text for the border effect */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: white;
  -webkit-text-stroke: 1px white; /* Thin white border */
  text-stroke: 1px white; /* For non-webkit browsers */
  background: none; /* No background gradient for the border text */
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}
.welcome-blur {
  background-color: #77060600;
  backdrop-filter: blur(5px);
  z-index: -1;
}
@keyframes fadeAnimation {
  from {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.appear {
  transform: translate3d(0, 100px, 0);
  opacity: 0;
}
.height-animated {
  transition: height 0.5s ease-in-out;
  overflow: hidden;
}

.animated-title {
  background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  transition-duration: 0.5s;
}
.animated-title-idle {
  background: #c3c3c3;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 0.5s;
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 600px;
  }
}
.welcome-text {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-transform: uppercase;
  font-size: 12em;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191,
    1px 6px 1px #919191, 1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191, 1px 10px 1px #919191,
    1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}

.welcome-text text {
  text-transform: uppercase;
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  font-size: 140px;
}
@keyframes stroke {
  0% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgb(255, 255, 255);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgb(255, 255, 255);
  }
  80% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgb(255, 255, 255);
    stroke-width: 3;
  }
  100% {
    fill: rgb(255, 255, 255);
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}
.home-title span {
  opacity: 0;
  transition-duration: 0.5s;
  display: inline-block;
}
.home-title.in-view span {
  opacity: 0;
  transform: translate(200px, -100px) scale(2);
  animation: ballDrop 0.3s forwards;
}
@keyframes ballDrop {
  60% {
    transform: translate(0, 20px) rotate(-180deg) scale(0.5);
  }

  100% {
    transform: translate(0) rotate(0deg) scale(1);
    opacity: 1;
  }
}
