/*  Us Button Animation */
.extend-item-before {
  background-color: white;
  width: 30px;
  height: 1px;
}
.button {
  border: none;
  outline: none;
  height: 40px;
  width: 140px;
  border-radius: 20px;
  transition: 0.3s ease;
}
.nav {
  background-color: #11111181;
  backdrop-filter: blur(15px);
}
/* 
.button:hover {
  cursor: pointer;
  background: #54c4be;
  box-shadow: 0 0 5px #54c4be, 0 0 20px #54c4be, 0 0 60px #54c4be,
    0 0 150px #54c4be;
} */
